@import "tailwindcss";

@theme {
  --font-sans: Inter, sans-serif;
  --font-display: "Space Grotesk", sans-serif;

  --color-background: #050505;
  --color-surface: #0a0a0a;
  --color-primary: #38bdf8;
  --color-secondary: #818cf8;
  --color-accent: #22d3ee;
  --color-muted: #52525b;

  --background-image-gradient-radial: radial-gradient(var(--tw-gradient-stops));

  @keyframes marquee {
    0% { transform: translateX(0%) }
    100% { transform: translateX(-50%) }
  }

  --animate-spin-slow: spin 10s linear infinite;
  --animate-marquee: marquee 60s linear infinite;
}

body {
    background-color: #050505;
    color: #f8fafc;
    overflow-x: hidden;
}

.bg-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 50;
    opacity: 0.01;
    background-image: url("https://www.ui-layouts.com/noise.gif");
}

::selection {
    background-color: #38bdf8;
    color: #000;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.text-mask-container {
    overflow: hidden;
    display: block;

}
